
ul.grid-service .grid-thumb-overlay.blogs:hover {
  cursor: default;
  }
  
  ul.grid-service li img.blogPostBannerImg{
    box-shadow: none !important;
    clip-path: ellipse(100% 94% at 13% 5%);
  }