
ul.grid-service .grid-thumb-overlay.articlesThumb, ul.grid-service .grid-thumb-overlay.articlePostBanner {
  padding: 0 !important;
}

ul.grid-service .grid-thumb-overlay.articles:hover {
  cursor: default;
  }
  
ul.grid-service li img.articlePostBannerImg{
  box-shadow: none !important;
  clip-path: ellipse(100% 94% at 13% 5%);
}

section.sect.article-banner {
  margin: 0;
  padding: 0;
}

ul.grid-service.article li {
  margin: 0;
}