
section h1 img,
section h1 i {
  position: absolute;
  width: 60px;
  opacity: .15;
  right: 20px;
  top: -15px;
  color: $purple
}

section h1 i {
  font-size: 5rem;
}


.sect  div.more-info-div{
  text-align: center;
  padding: $l-size
}
.sect .featured-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: $l-size
}

.sect .featured-item-wrapper .img-featured-item-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.sect .featured-item-wrapper img {
  width: 100%;
  height: 100%
}

