/* THE GRIDS UL*/
ul.grid-service {
  padding: 0;
  margin: 0 0 $xl-size 0;
}

/*section.projects-page ul#projectsList li,*/
ul.grid-service li {
  list-style:none;
  position: relative;
  // margin: 50px auto 0;
  // min-width: 200px;
  // max-width: 500px;
}

ul.grid-service li img{

  width: 100%;
  height: 100%;
  box-shadow: 1px 3px 14px rgba(0,0,0, .2)
}

ul.grid-service li i.fa-info-circle{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: $xl-size;
  color: rgb(233, 233, 233);
  cursor: pointer;
  opacity: .8;
  z-index: 5
}

/* PROJECTS THUMB OVERLAY  - ( the default style out of the box )
================================================================= */
ul.grid-service .grid-thumb-overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: $pink-red-overlay;
  opacity: 0;
  top: 0;
  overflow: hidden;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  text-overflow: none;
}  

ul.grid-service .grid-thumb-overlay.show-overlay {
  opacity: .9;
}

div.off-edges {
  margin: 5% auto;
  width: 80%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}


.grid-thumb-overlay a {
  text-decoration: none;
}


.grid-thumb-overlay h2,
.grid-thumb-overlay p {
  text-align: center;
  color: white;
}

.grid-thumb-overlay h2 {
  font-size: $s-size;
  margin-top: 0;
  @media  (min-width: 400px ) {
    font-size: $ml-size;
  }
  @media  (min-width: 580px ) {
    font-size: $l-size;
  }
}

.grid-thumb-overlay p {
  font-size: $xs-size;
  @media  (min-width: 400px ) {
    font-size: $s-size;
  }
  @media  (min-width: 580px ) {
    font-size: $m-size;
  }
}

.grid-thumb-overlay hr {
  border: none;
  height: 1.6px;
  background: lighten($pink-red-overlay, 10%);
  width: 50%;
}


.grid-thumb-overlay p:last-child {
  color: rgb(180, 180, 180);
  margin: 10px 0 0 0;
  @media  (min-width: 500px ) {
    margin: 25px 0 0 0;
  }
  @media  (min-width: 580px ) {
    margin: 50px 0 0 0;
  }
}

/* Custom Style */
ul.grid-service .grid-thumb-overlay.blogsThumb,
ul.grid-service .grid-thumb-overlay.blogPostBanner {  
    padding: 20px 20px 2px 20px;
    color: black;
    background: radial-gradient( circle, rgba(255, 255, 255, 0.75) 30%, rgba(255, 255, 255, .85) 50%, rgba(255, 255, 255, 1) 75%);
    display: flex;
    flex-direction: column; 
    opacity: 1;
}

ul.grid-service .grid-thumb-overlay.blogsThumb:hover,
ul.grid-service .grid-thumb-overlay.blogPostBanner:hover {
  cursor: default;
}

ul.grid-service .grid-thumb-overlay .blogs-thumb-date {
  font-size: .65em;
  margin: 0;
  @media (min-width: 435px) {
    margin-bottom: 25px;
  }
  color: black
}

ul.grid-service .grid-thumb-overlay div.thumb-center {
  flex-grow: 1;
}

ul.grid-service .grid-thumb-overlay div.thumb-center h1 {
  position: relative;
  font-size: 1.3em;
  margin-top: 10px;
  color: rgb(49, 49, 49);
}

ul.grid-service .grid-thumb-overlay div.thumb-center > div {
  text-align: center;
  // margin-top: 40px;
  margin: 20px 0;
  @media (min-width: 435px) {
    margin: 30px 0;
  }
  @media (min-width: 575px) {
    margin: 50px 0;
  }
}

ul.grid-service .grid-thumb-overlay div a {
  text-decoration: none;
  color: rgb(54, 51, 51);
  font-weight: bolder;
  transition: color .2s ease, border 1s ease;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 1px 5px;
  border-radius: 10px;
  @media (min-width: 435px) {
    font-size: $l-size;
  }
}

ul.grid-service .grid-thumb-overlay a:hover {
 color:#C80177;
 border-right: 1px solid #C80177;
 border-left: 1px solid #C80177;
}

ul.grid-service  .grid-thumb-overlay a:active {
  box-shadow: inset 1px 0px 3px 0px rgba(0,0,0,.7);
}

ul.grid-service .grid-thumb-overlay hr {
  border: none;
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background: rgba(136,136,163,1);
  background: -moz-linear-gradient(left, rgba(136,136,163,1) 0%, rgba(14,11,194,1) 7%, rgba(222,0,170,1) 14%, rgba(59,162,199,1) 19%, rgba(98,125,77,1) 33%, rgba(125,77,106,1) 48%, rgba(95,22,120,1) 60%, rgba(113,77,125,1) 77%, rgba(224,0,138,1) 85%, rgba(92,7,35,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(136,136,163,1)), color-stop(7%, rgba(14,11,194,1)), color-stop(14%, rgba(222,0,170,1)), color-stop(19%, rgba(59,162,199,1)), color-stop(33%, rgba(98,125,77,1)), color-stop(48%, rgba(125,77,106,1)), color-stop(60%, rgba(95,22,120,1)), color-stop(77%, rgba(113,77,125,1)), color-stop(85%, rgba(224,0,138,1)), color-stop(100%, rgba(92,7,35,1)));
  background: -webkit-linear-gradient(left, rgba(136,136,163,1) 0%, rgba(14,11,194,1) 7%, rgba(222,0,170,1) 14%, rgba(59,162,199,1) 19%, rgba(98,125,77,1) 33%, rgba(125,77,106,1) 48%, rgba(95,22,120,1) 60%, rgba(113,77,125,1) 77%, rgba(224,0,138,1) 85%, rgba(92,7,35,1) 100%);
  background: -o-linear-gradient(left, rgba(136,136,163,1) 0%, rgba(14,11,194,1) 7%, rgba(222,0,170,1) 14%, rgba(59,162,199,1) 19%, rgba(98,125,77,1) 33%, rgba(125,77,106,1) 48%, rgba(95,22,120,1) 60%, rgba(113,77,125,1) 77%, rgba(224,0,138,1) 85%, rgba(92,7,35,1) 100%);
  background: -ms-linear-gradient(left, rgba(136,136,163,1) 0%, rgba(14,11,194,1) 7%, rgba(222,0,170,1) 14%, rgba(59,162,199,1) 19%, rgba(98,125,77,1) 33%, rgba(125,77,106,1) 48%, rgba(95,22,120,1) 60%, rgba(113,77,125,1) 77%, rgba(224,0,138,1) 85%, rgba(92,7,35,1) 100%);
  background: linear-gradient(to right, rgba(136,136,163,1) 0%, rgba(14,11,194,1) 7%, rgba(222,0,170,1) 14%, rgba(59,162,199,1) 19%, rgb(61, 80, 46) 33%, rgba(125,77,106,1) 48%, rgba(95,22,120,1) 60%, rgba(113,77,125,1) 77%, rgba(224,0,138,1) 85%, rgba(92,7,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8888a3', endColorstr='#5c0723', GradientType=1 );
  position: absolute;
  bottom: -7px;
  left: 25%;
}

ul.grid-service .grid-thumb-overlay ul.blogs-thumb-tags {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


ul.grid-service .grid-thumb-overlay ul.blogs-thumb-tags li {
  border: 1.5px solid rgb(141, 141, 141);
  border-radius: 7px;
  padding: 2px 4px;
  font-size: .5em;
  margin: 3px 5px 0 0;
  cursor: pointer;
  transition: background .2s ease-in-out, color .2s ease-in-out;
  align-items: center;
  color: black;
  @media (min-width: 435px) {
    font-size: .6em;
  }
}

ul.grid-service .grid-thumb-overlay ul.blogs-thumb-tags li:active {
  box-shadow: inset 2px 0px 3px 0px rgba(0,0,0,.7);
}

ul.grid-service .grid-thumb-overlay ul.blogs-thumb-tags li i {
  margin-right: 5px;
  color: rgb(75, 75, 75);
}

ul.grid-service .grid-thumb-overlay ul.blogs-thumb-tags li:hover i {
  color: #C80177;
}